@import 'variables';
@import 'mixins';
@import 'utilities';

.container {
  margin: 0 auto;
  max-width: $container-width;
}

.container-fluid {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

@each $pos in $items {
  .align-i-#{$pos} {
    align-items: $pos;
  }

  .justify-i-#{$pos} {
    justify-items: $pos;
  }

  .align-self-#{$pos} {
    align-self: $pos;
  }

  .justify-self-#{$pos} {
    justify-self: $pos;
  }
}

@each $val in $content {
  .align-c-#{$val} {
    align-content: $val;
  }

  .justify-c-#{$val} {
    justify-content: $val;
  }
}

.justify-c-space-evenly {
  justify-content: space-evenly;
}

@each $num, $val in $spacing {
  .gap-#{$num} {
    grid-gap: $val;
  }

  .gap-r-#{$num} {
    grid-row-gap: $val;
  }

  .gap-c-#{$num} {
    grid-column-gap: $val;
  }
}

.grid-flow-r {
  grid-auto-flow: row;
}

.grid-flow-c {
  grid-auto-flow: column;
}

.grid-flow-d {
  grid-auto-flow: dense;
}

@for $i from 1 through 12 {
  .row-s-#{$i} {
    grid-row-start: $i;
  }

  .row-span-#{$i} {
    @include span($i, "row");
  }

  .col-s-#{$i} {
    grid-column-start: $i;
  }

  .col-span-#{$i} {
    @include span($i);
  }

  .grid-template-rows-#{$i} {
    grid-template-rows: repeat($i, 1fr);
  }
}

@for $i from 1 through 10 {
  .row-auto-#{$i} {
    grid-auto-rows:  10vh * $i;
  }
}

.col-span-end {
  grid-column-end: -1;
}

.row-span-end {
  grid-row-end: -1;
}

.col-responsive-1612 {
  @include span(1);
}

.col-responsive-136 {
  @include span(2);
}

.col-responsive-234 {
  @include span(3);
}

.col-responsive-124 {
  @include span(4);
}

.col-responsive-144 {
  @include span(4);
}

.d-iblock-sm {
  display: none;
  @media only screen and (max-width: 720px) {
    display: inline-block;
  }
}

@each $d in $displays {
  @include set_display($d);
}

@media only screen and (max-width: 719px) {
  .col-responsive-136, .col-responsive-1612, .col-responsive-124, .col-responsive-144 {
    @include span(12);
  }
  .col-responsive-234 {
    @include span(6);
  }
}

@media only screen and (max-width: 1023px) {
  .col-responsive-124 {
    @include span(2);
  }
  .col-responsive-136
  .col-responsive-234 {
    @include span(4);
  }
  .col-responsive-1612 {
    @include span(6);
  }
}
