@import 'variables';

.container {
  margin: 0 auto;
  max-width: $container-width;
}

.container-fluid {
  width: 100%;
}

/*
GRID
*/

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.align-i-stretch {
  align-items: stretch
}

.align-i-center {
  align-items: center
}

.align-i-start {
  align-items: start
}

.align-i-end {
  align-items: end
}

.align-c-start {
  align-content: start;
}

.align-c-center {
  align-content: center;
}

.align-c-space-between {
  align-content: space-between;
}

.align-c-space-around {
  align-content: space-around;
}

.justify-i-center {
  justify-items: center
}

.justify-i-start {
  justify-items: start
}

.justify-i-end {
  justify-items: end
}

.justify-c-start {
  justify-content: start;
}

.justify-c-center {
  justify-content: center;
}

.justify-c-space-between {
  justify-content: space-between;
}

.justify-c-space-around {
  justify-content: space-around;
}

.justify-c-space-evenly {
  justify-content: space-evenly;
}

.gap-0 {
  grid-gap: 0;
}

.gap-1 {
  grid-gap: 5px;
}

.gap-2 {
  grid-gap: 10px;
}

.gap-3 {
  grid-gap: 30px;
}

.gap-r-0 {
  grid-row-gap: 0;
}

.gap-r-1 {
  grid-row-gap: 5px;
}

.gap-r-2 {
  grid-row-gap: 10px;
}

.gap-r-3 {
  grid-row-gap: 30px;
}

.gap-c-0 {
  grid-column-gap: 0;
}

.gap-c-1 {
  grid-column-gap: 5px;
}

.gap-c-2 {
  grid-column-gap: 10px;
}

.gap-c-3 {
  grid-column-gap: 30px;
}

.grid-flow-r {
  grid-auto-flow: row;
}

.grid-flow-c {
  grid-auto-flow: column;
}

.grid-flow-d {
  grid-auto-flow: dense;
}

@for $i from 1 through 12 {
  .row-s-#{$i} {
    grid-row-start: $i;
  }

  .row-span-#{$i} {
    grid-row-end: span $i;
  }

  .col-s-#{$i} {
    grid-column-start: $i;
  }

  .col-span-#{$i} {
    grid-column-end: span $i;
  }

  .grid-template-rows-#{$i} {
    grid-template-rows: repeat($i, 1fr);
  }
}

@for $i from 1 through 10 {
  .row-auto-#{$i} {
    grid-auto-rows:  10vh * $i;
  } 
}

.col-span-end {
  grid-column-end: -1;
}

.row-span-end {
  grid-row-end: -1;
}

.col-responsive-136 {
  grid-column-end : span 2;
}

.col-responsive-1612 {
  grid-column-end : span 1;
}

.col-responsive-234, .col-responsive-134 {
  grid-column-end : span 3;
}

.d-none {
  display: none;
}

.d-iblock-sm {
  display: none;
  @media only screen and (max-size: 720px) {
    display: inline-block;
  }  
}

.d-none-sm {
  display: initial;
  @media only screen and (max-size: 720px) {
    display: none;
  }
}

.d-none-md {
  display: initial;
  @media only screen and (max-size: 720px) {
    display: initial;
  }
  @media only screen and (max-size: 1024px) {
    display: none;
  }
}

.d-none-lg {
  display: initial;
  @media only screen and (min-size: 1024px) {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  .col-responsive-136, .col-responsive-1612, .col-responsive-134 {
    grid-column-end : span 12;
  }
  .col-responsive-234 {
    grid-column-end : span 6;
  }
}

@media only screen and (max-width: 1024px) {
  .col-responsive-136 {
    grid-column-end : span 4;
  }
  .col-responsive-1612 {
    grid-column-end: span 6;
  }
  .col-responsive-234, .col-responsive-134 {
    grid-column-end : span 4;
  }
}
