/* font-family: 'Skranji', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif; */

.nav-header {
  padding: 0 168px;
}

.caret-header {
  top: -4px;
}

.header-links a {
  white-space: nowrap;
}
